<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757971432224-6bin584hfpmtl1iedf5l1mgjr97dd6la.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757971432224-6bin584hfpmtl1iedf5l1mgjr97dd6la</string>
	<key>API_KEY</key>
	<string>AIzaSyAVBhVpaOP_59acBQ6wB_MaYtF5abyLE7o</string>
	<key>GCM_SENDER_ID</key>
	<string>757971432224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tetsukick.exchangecalculator</string>
	<key>PROJECT_ID</key>
	<string>exchange-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>exchange-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757971432224:ios:fd0571acd574e9cdac9d45</string>
	<key>DATABASE_URL</key>
	<string>https://exchange-calculator.firebaseio.com</string>
</dict>
</plist>